@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">SWITCH YOUR HOME</h1>
    <p class="lead">SWITCH YOUR HOME &reg; is a great Web site for <b>travel everywhere</b> and <b>stay for free</b></p>
    <img src="../../Content/img/index1.jpg" width=500 height="200"  style="max-width: 100%; height: auto; display: block;
    margin: auto;">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How It Works</h2>
        <p>
            Take a few minutes and list your house or your apartment so our Community can see it. Your home is unique. Show it off! Let our Community know what makes your Listing one-of-a-kind!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search homes</h2>
        <p>Looking to get away right now? So are hundreds of other exchangers. Browse last minute listings today and pack your bags tomorrow.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p>No hidden fees. Pay once, exchange as many times as you like.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

